/* 메인 배너, 캐러셀 */
.main-banner-wrap {
    min-width: 1200px;
    width: 100vw;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}

/* 메인 배너 리스트 */
.main-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: var(--1-GRAY-0);
    padding: 43px 0;
}

/* 메인 배너 아이템 */
.main-banner-item {
    position: relative;
    min-width: 450px;
    width: 450px;
    height: 405px;
    max-height: 405px;
    margin: 0 12px;
    border: 1px solid var(--1-GRAY-100);
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
}

/* 메인 배너 아이템 - 가운데 */
.main-banner-item.center-banner-item {
    transform: scale(1.12);
    margin: 0 39px;
}

/* 메인 배너 아이템 - 겁정 박스(센터가 돋보이게 하는 용도) */
.main-banner-item:after{
    content:'';
    width: 100%;
    height: 100%;
    background: var(--1-GRAY-900);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}
.main-banner-item.slide-banner-item:after {
    opacity: 0.3; /* 센터 바로 옆 */
}
.main-banner-item.center-banner-item:after {
    opacity: 0; /* 센터 */
}

/* 메인 아이템 - 이미지 */
.main-banner-item .main-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

/* 메인 아이템 - 공연 타이틀 */
.main-banner-item .main-banner-item-title {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    color:var(--1-GRAY-0);
    text-align: center;
    text-shadow: 0px 0px 6px var(--1-GRAY-900); /* 하얀 배경을 위한 효과 */
}

/* 메인 배너 캐러셀 */
.main-banner-arrow {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 50%;
}
/* 이전 */
.main-banner-arrow#prevBtn {
    left: 30px;
    background: url("../../images/arrow-prev.png") no-repeat center/100%;
}
/* 다음 */
.main-banner-arrow#nextBtn {
    right: 30px;
    background: url("../../images/arrow-next.png") no-repeat center/100%;
 }