.modal-wrap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}
.hidden { display: none !important;}

/* backdrop */
.backdrop {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.6);
    z-index: 999;
}

/* 모달 박스 */
.modal {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 52px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    width: 800px;
    max-width: calc(100svw - 100px);
}

/* 모달 타이틀 */
.modal .modal-title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color:var(--1-GRAY-900);
    margin-bottom: 60px;
    text-align: center;
}

/* 폼 영역 */
.modal .modal-form {
    width: 100%;
    max-width: 522px;
}
.modal-form .default-input-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}
.modal-form .default-input-flex.ssn-wrap{
    margin-bottom: 30px;
}
.modal-form .default-input-wrap .default-input,
.modal-form .default-input-flex .default-input {
    margin-bottom: 0;
}

/* 모달 아이디 찾기 결과 */
.modal .id-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 522px;
    height: 170px;
    background: var(--1-GRAY-200);
}

.modal .id-result-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color:var(--1-GRAY-900);
    text-align: center;
}
.modal .id-result-text.error {
    color: var(--1-ERROR);
}
.modal .id-result span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color:var(--1-GRAY-900);
    text-align: center;
    margin-bottom: 3px;
}
.modal .id-result span.result-text-point {
    color: var(--1-MAIN);
}

/* 모달 버튼 */
.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
.modal-buttons button {
    min-width: 112px;
    padding: 12px;
}