/* 로그인 전체 */
.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

/* 타이틀 */
.login-container .container-title {
    padding-bottom: 50px;
    text-align: center;
}

/* 로그인 폼 영역 */
#loginForm {
    width: 100%;
    max-width: 400px;
}

/* 인풋 기본 */
.default-input {
    margin-bottom: 20px;
}

/* 로그인 버튼 */
.login-button {
    margin-top: 30px;
}

/* 이메일 찾기, 비밀번호 찾기 */
.login-find-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/* 텍스트 버튼 */
.login-find-line .login-find-button {
    position: relative;
    padding: 0;
    padding-left: 9px;
    background-color: transparent;
    min-width: 91px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--1-GRAY-700);
    text-align: left;
}
/* 가운데 라인 - 이메일 찾기, 비밀번호 찾기 */
.login-find-line .login-find-button:before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: var(--1-GRAY-300);
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
}
.login-find-line .login-find-button.font-right{
    min-width: 90px;
    text-align: right;
    padding-left: 0;
    padding-right: 8px;
}
.login-find-line .login-find-button.font-right:before {
    display: none;
}

/* 회원가입 라인 */
.login-signup-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 72px;
}
.login-signup-line .signup-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--1-GRAY-900);
}
/* 텍스트 버튼 */
.login-signup-line .signup-button {
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: var(--1-GRAY-900);
}

/* 버튼 영역 hover, active */
.login-find-button:hover,
.login-find-button:active,
.signup-button:hover,
.signup-button:active {
    opacity: 0.7;
}
