/***************************************
Reservation container
***************************************/
.reservation-container {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    max-width : 1200px;
}


/***************************************
tab-content
***************************************/
/* 기본 tab 숨김 처리 */
.tab-content {
    display: none;
}

/* tab active 효과 */
.tab-content.active {
    padding-left: 100px;
    display: block;
}


/***************************************
tab-content calendar
***************************************/
/* 영역 */
.date-wrap {
    padding: 30px 30px 30px 50px;
}
/* step */
.info {
    display: flex;
    justify-content: left;
    color : var(--1-GRAY-500);
    font-size: 18px;
    line-height: 25px;
    padding : 50px 0 20px 0;
}

/* step text */
.date-wrap .info span {
    color : var(--1-ERROR);
    font-weight: bold;
    margin : 0 10px 0 0;
}

/* 달력 css */
.calendar {
    width: 504px;
    overflow: hidden;
}

/* 달력 header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    color: var(--1-GRAY-800);
    padding: 0 34px;
    margin-bottom: 42px;
}

/* 달력 perv / next 버튼 */
.calendar-header .calendar-header-prev,
.calendar-header .calendar-header-next {
    padding: 0;
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.calendar-header .calendar-header-prev:hover,
.calendar-header .calendar-header-next:hover {
    opacity: 0.8;
}
/* 버튼 이미지 */
.calendar-header .calendar-header-prev {
    background: url("../../images/calendar-prev-disabled.png") no-repeat center/100%;
}
.calendar-header .calendar-header-next {
    background: url("../../images/calendar-next-disabled.png") no-repeat center/100%;
}
.calendar-header .calendar-header-prev:disabled {
    background-image: url("../../images/calendar-prev-disabled.png");
}
.calendar-header .calendar-header-next:disabled  {
    background-image: url("../../images/calendar-next-disabled.png");
}

/* 달력 내용 */
.calendar-body {
}

/* 요일 영역 */
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 12px;
}

/* 요일 */
.days .day {
    width: 72px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--1-GRAY-800);
    text-align: center;
}

/* 날짜 영역 */
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}

/* 날짜 */
.dates .date-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 72px;
    height: 50px;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}

.dates .date-area:after {
    display: none;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: var(--1-GRAY-100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dates .date-area.inactive:hover:after {
    display: none;
}
.dates .date-area:hover:after {
    display: block;
}
.dates .date-area .date {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: var(--1-GRAY-800);
    z-index: 1;
    cursor: pointer;
}

.dates .date-area.inactive .date {
    color: var(--1-GRAY-400);
    cursor: default;
}
.dates .date-area.today .date {
    font-weight: bold;
}
.dates .date-area.sunday .date {
    color: var(--1-ERROR);
}
.dates .date-area.saturday .date {
    color: #3D85B9;
}
.dates .date-area.selected .date {
    font-weight: 600;
    color: var(--1-GRAY-0);
}
.dates .date-area.selected:after  {
    display: block;
    background: var(--1-MAIN) !important;
    color: var(--1-GRAY-0) !important;
    font-weight: bold;
}

.date-area.has-performance .date {
    position: relative;
}

.date-area.has-performance .date::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 15px;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--1-MAIN);
    border-radius: 50%;
}

/* 날짜 선택 시 입력 값 영역 */
.choice-date {
    border : 1px solid var(--1-GRAY-900);
    border-radius: 10px;
    width: 470px;
    padding-left: 20px;
    padding-top : 10px;
}

.info-time {
    font-size: 18px;
    font-weight: bold;
}

.info-caster {
    display: flex;
    padding: 10px 0;
    font-size: 18px;
    margin-right: 10px;
    color: var(--1-GRAY-900);
}

.info-caster-list {
    color : var(--1-GRAY-700);
}


/***************************************
tab-content seat
***************************************/
/* seat 전체 영역 */
.stage-wrap {
    width: 574px;
}

/* seta 스테이지 영역 */
.stage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    width: 100%;
    height: 55px;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    color: var(--1-GRAY-0);
    text-align: center;
    background: var(--1-GRAY-400);
    margin-bottom: 12px;
}

/* 층 구분 */
.floor-title {
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    width: 100%;
    height: 24px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: var(--1-GRAY-0);
    text-align: center;
    background: var(--1-GRAY-300);
    margin-bottom: 20px;
}

/* 좌석 전체 영역 */
.section-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

/* 좌석 좌측 번호 영역 */
.section-seat-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 7px;
    padding-top: 23px;
}

/* 좌석 좌측 번호 */
.seat-num {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: var(--1-GRAY-900);
    text-align: center;
}

/* 좌석 영역 */
.section-flex-gap {
    display: flex;
    justify-content: flex-start;
    gap: 22px;
}

.section-wrap{

}

/* 구역 (A, B..) */
.section-wrap .section-name {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: var(--1-GRAY-900);
    text-align: center;
    margin-bottom: 8px;
}

/* 좌석 */
.section-wrap .seat {
    display: inline-block;
    min-width: 20px;
    width: 20px;
    min-height: 14px;
    height: 14px;
    background: var(--1-MAIN);
    cursor: pointer;
}

.section-wrap .seat input {
    display: none;
}

.section-wrap .seat:has(input:checked) {
    background: var(--1-GRAY-900) url("../../images/seat-checked.png") no-repeat center/100%;
}

.section-wrap .seat:has(input:disabled) {
    background: var(--1-GRAY-300);
}

.seats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    width: 100%;
    max-width: 116px;
}

.seats-big {
    max-width: 236px;
}

.selected-seats{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--1-GRAY-900);
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid var(--1-GRAY-900);
}

.seat.reserved {
    background-color: var(--1-GRAY-50);
    cursor: not-allowed;
}

.seat.reserved input {
    display: none;
}


/***************************************
tab-content payment
***************************************/
/* 결제 header text */
.payment-info {
    color: var(--1-GRAY-600);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

/* 결제 수단 text */
.payment-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 세그먼트 버튼 영역 */
.tab-button-container {
    border: 1px solid var(--1-GRAY-400);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

/* 세그먼트 버튼 */
.tab-button {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding : 15px;
    color : var(--1-GRAY-600);
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
}

#tabBank {
    border-right: 1px solid var(--1-GRAY-400);
}

#tabEasy {
    border-left: 1px solid var(--1-GRAY-400);
}

.tab-button.active {
    background-color: var(--1-ERROR);
    color: var(--1-GRAY-0);
    font-weight: bold;
}

/* 세그먼트 내용 숨김, 보임 처리 */
.tab-result {
    display: none;
}

.tab-result.active {
    display: block;
}

/* 결제 관련 정보 text */
.payment-bank,
.payment-card,
.payment-easy {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
    font-weight: 500;
}

/* 결제 선택 영역 */
.choice-payment {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    border-top: 1px solid var(--1-GRAY-400);
    border-bottom: 1px solid var(--1-GRAY-400);
    text-align: center;
}

/* 결제 list */
.payment-list {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid var(--1-GRAY-400);
    border-right: 1px solid var(--1-GRAY-400);
    cursor: pointer;
}

.payment-list:nth-child(-n+5) {
    border-top: none;
}

.payment-list:nth-child(5n) {
    border-right: none;
}

/* 결제 관련 이미지 */
.payment-list img {
    max-width: 100px;
    max-height: 40px;
    object-fit: contain;
}

/* 결제 관련 text */
.payment-list-content {
    margin-top : 5px;
    color : var(--1-GRAY-600);
    font-size: 14px;
    line-height: 18px;
}

/* 무통장 - ticketnow 결제 정보 */
.check-ticketnow {
    background-color: var(--1-GRAY-200);
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
}

.ticketnow-info {
    display: flex;
    justify-content: left;
}

.ticketnow-title {
    color: var(--1-GRAY-600);
    width: 100px;
}
/* 카드 - 할부 */
.pay-select {
    width: 300px;
    height: 30px;
    margin: 20px 0;
    padding-left: 10px;
    font-size: 14px;
    color: var(--1-GRAY-900);
    align-items: center;
    border: 1px solid var(--1-GRAY-400);
}

.pay-select-title {
    color : var(--1-GRAY-900);
}
.pay-select-choice {
    color: var(--1-GRAY-700);
}

.pay-select-choice:hover {
    color : var(--1-MAIN);
    background: none;
}

/* 결제 관련 배너 */
.payment-banner-title {
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    color: var(--1-GRAY-600);
}

.payment-banner-content {
    padding: 3px 0;
}


/***************************************
tab-content final
***************************************/
/* 공연 이미지 확대 */
.performance-tab-image {
    margin-top: 60px;
    width: 450px;
}

.performance-tab-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 예약 확정 시 공연 정보 넓힘 */
.reservation-info.final {
    width: 500px;
}


/***************************************
Reservation info
***************************************/
/* 예약 정보 영역 */
.reservation-info {
    border-left: 1px solid var(--1-GRAY-400);
    padding : 30px 30px 50px 0;
    width: 350px;
    margin-top: 10px;
}

/* 공연 정보 영역 */
.performance-info {
    border-bottom : 1px solid var(--1-GRAY-400);
    display: flex;
    margin: 20px;
}

/* 공연 이미지 */
.performance-info-img {
    min-width : 100px;
    max-width:  100px;
    min-height : 150px;
    max-height:  150px;
    padding: 0 20px 20px 0;
}

.performance-info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 공연 정보 */
.performance-info-content {
    padding-bottom : 20px;
}

/* 공연 제목 */
.performance-info-content-title {
    font-size: 20px;
    font-weight: bold;
}

/* 공연 날짜, 장소 */
.performance-info-content-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color : var(--1-GRAY-600);
    margin : 20px 0;
}

/* 선택사항 영역 */
.reservation-detail {
    border-bottom : 1px solid var(--1-GRAY-400);
    margin: 0 20px 20px 20px;
}

/* 선택내역 text */
.reservation-choice {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

/* 선택내역 영역 */
.reservation-choice-detail {
    display: flex;
    margin: 10px 0;
}
.reservation-choice-detail-title {
    font-size: 16px;
    line-height: 19px;
    color : var(--1-GRAY-600);
}
.reservation-choice-detail-content {
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
}

/* 비용 관련 영역 */
.reservation-price {
    border-bottom : 1px solid var(--1-GRAY-400);
    margin: 0 20px 20px 20px;
}

/* 결제내역 text */
.reservation-price-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

/* 결제 내역 영역 */
.reservation-price-detail {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.reservation-price-detail-title {
    font-size: 16px;
    line-height: 19px;
    color : var(--1-GRAY-600);
}

.reservation-price-detail-content {
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
}

/* 최종 결제 금액 영역 */
.final-price {
    padding : 0 20px;
}

.final-price-detail {
    height: 50px;
    border: 1px solid var(--1-GRAY-400);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-price-money {
    padding : 10px;
    font-size : 16px;
    font-weight: 500;
    line-height: 20px;
}

/* 버튼 선택 영역 */
.choice-btn {
    display: flex;
    justify-content: space-between;
    padding : 20px;
    gap : 20px;
}

/* 이전 버튼 */
.prev-btn {
    width: 50%;
    height: 50px;
    background-color: var(--1-GRAY-600);
    color: var(--1-GRAY-0);
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    display: none;
    cursor: pointer;
    border: none;
}

.prev-btn:hover{
    background-color: var(--1-GRAY-700);
}

.prev-btn.active{
    display: block;
}

/* 다음 버튼 */
.next-btn {
    width: 50%;
    height: 50px;
    background-color: var(--1-MAIN);
    color: var(--1-GRAY-0);
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.next-btn:hover{
    background-color: var(--1-MAIN-HOVER);
}

.choice-btn .next-btn:only-child,
.choice-btn.next-btn[style*="width:100%"] {
    width: 100% !important;}