/* 회원가입 */
.signup-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

/* 타이틀 */
.signup-container .container-title {
    padding-bottom: 50px;
    text-align: center;
}

/* 회원가입 폼 영역 */
.signupForm {
    width: 100%;
    max-width: 519px;
}

/* 라디오 정렬 */
.radio-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

/* 인풋 정렬 */
.default-input-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

/* 화원가입 버튼 */
.signup-button {
    height: 60px;
    font-size: 18px;
    margin-top: 10px;
}

/* 주소 인풋 */
.address-input-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-input-wrap input{
    background-color: var(--1-GRAY-0);
}

/* 주소 버튼 */
.line-button {
    max-width: 97px;
    height: 48px;
}